<div class="modal-header">
    <h3 class="modal-title">{{"SMART Information"|translate}} -- {{smartDisk.driveLettersAsString}}</h3>
</div>
<div class="modal-body">
    <!-- <pre>{{smartDisk|json}}</pre> -->
    <h2 ng-if="smartDisk.failureIsPredicted"><span class="label label-danger">{{"Failure is predicted"|translate}}</span></h2>
    <h2 ng-if="!smartDisk.failureIsPredicted"><span class="label label-success">{{"Disk is OK"|translate}}</span></h2>
    <br />
    <dl class="dl-horizontal">
        <dt translate="Model"></dt>
        <dd>{{smartDisk.model}}</dd>
        <dt translate="Interface Type"></dt>
        <dd>{{smartDisk.interfaceType}}</dd>
        <dt translate="Serial Number"></dt>
        <dd>{{smartDisk.serialNum}}</dd>
    </dl>
    <div class="panel panel-default" ng-if="smartDisk.attributes.length !== 0">
        <div class="panel-body">
            <table class="table table-super-condensed table-responsive table-noborder">
                <thead>
                    <tr>
                        <th>{{"Attribute"|translate}}</th>
                        <th>{{"Value"|translate}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="attr in smartDisk.attributes">
                        <td>{{attr.name|translate}}</td>
                        <td>{{attr.value|translate}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
