<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<!--<html xmlns="http://www.w3.org/1999/xhtml" ng-app="app">-->
<html xmlns="http://www.w3.org/1999/xhtml">

<head runat="server">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="lib/angular-material/angular-material.css" rel="stylesheet" />
    <link href="lib/angular-treasure-overlay-spinner/treasure-overlay-spinner.min.css" rel="stylesheet" />
    <link href="Content/styles.css" rel="stylesheet" />
    <link rel="shortcut icon" href="Content/common_icon.png" />
    <style type="text/css">
        [ng-cloak] {
            display: none !important;
        }
    </style>
    <title>COMMON</title>
</head>

<body ng-cloak=ng-cloak>
    <nav class="navbar navbar-default navbar-fixed-top navbar-upper">
        <div class="col-md-6">
            <img src="Content/common_header.png" id="commonHeader" />
        </div>
        <div class="col-md-6">
            <img src="Content/common_icon.png" class="pull-right" />
        </div>
    </nav>
    <div data-ng-controller="HeaderController as vm">
        <nav role="navigation" class="navbar navbar-default navbar-fixed-top navbar-lower">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#/" uib-dropdown=uib-dropdown data-toggle="dropdown" class="navbar-brand dropdown">{{vm.siteName}} <b class="caret"></b></a>
                <ul class="dropdown-menu" uib-dropdown-menu=uib-dropdown-menu>
                    <li><a href="#/datacollection" translate="Data Collection"></a></li>
                    <li><a href="#/networkhistory" translate="Network History"></a></li>
                    <li class="divider"></li>
                    <li><a href="#/help" translate="Help"></a></li>
                    <li class="divider"></li>
                    <li><a href="#/about" translate="About"></a></li>
                </ul>
            </div>
            <!-- Collection of nav links and other content for toggling -->
            <div ng-class="!navCollapsed && 'in'" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li ng-class="{active: vm.$route.current.activeTab == 'Home'}">
                        <a href="#/" translate="Home"></a>
                    </li>
                    <li ng-class="{active: vm.$route.current.activeTab == 'Devices'}">
                        <a ng-click="vm.onToggleDevicesSidebar()" translate="Devices"></a>
                    </li>
                    <li uib-dropdown=uib-dropdown ng-class="{active: vm.$route.current.activeTab == 'Reports'}">
                        <a uib-dropdown-toggle=uib-dropdown-toggle aria-haspopup="true" aria-expanded="false">
                            {{"Reports"|translate}}
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu" uib-dropdown-menu=uib-dropdown-menu>
                            <li>
                                <a ng-href="#/sitereport">{{"Site" | translate}} {{"Report" | translate}}</a>
                            </li>
                            <li class="divider"></li>
                            <li ng-repeat="device in vm.windowsDevices">
                                <a ng-href="#/computerreport/{{device.id}}">{{device.name}} {{"Report" | translate}}</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a ng-href="#/networkreport">{{"Network" | translate}} {{"Report" | translate}}</a>
                            </li>
                            <li>
                                <a ng-href="#/casloadreport">{{"CAS Load" | translate}} {{"Report" | translate}}</a>
                            </li>
                            <li>
                                <a ng-href="#/issuesreport">{{"Issues" | translate}} {{"Report" | translate}}</a>
                            </li>
                            <li>
                                <a ng-href="#/siteconfigurationreport">{{"Site Configuration" | translate}} {{"Report" | translate}}</a>
                            </li>
                        </ul>
                    </li>
                    <li uib-dropdown=uib-dropdown ng-if="vm.languages.length > 1">
                        <a uib-dropdown-toggle=uib-dropdown-toggle aria-haspopup="true" aria-expanded="false">
                            {{"Language" | translate}}
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu" uib-dropdown-menu=uib-dropdown-menu>
                            <li ng-repeat="language in vm.languages" role="menuitem">
                                <a ng-click="vm.useLanguage(language.code)">{{language.code}} - {{language.language | translate}}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>

        <md-content flex=flex>
            <md-sidenav md-component-id="devices-sidebar" class="md-sidenav-left" md-is-open="vm.devicesSidebar.isOpen">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 translate="Devices" />
                    </div>
                    <div class="panel-body">
                        <div class="list-unstyled" ng-repeat="device in vm.windowsDevices">
                            <a ng-href="#/server/{{device.id}}" ng-click="vm.devicesSidebar.isOpen = false" ng-if="device.type === 0">{{device.name}}</a>
                            <a ng-href="#/workstation/{{device.id}}" ng-click="vm.devicesSidebar.isOpen = false" ng-if="device.type === 1">{{device.name}}</a>
                        </div>
                        <div class="list-unstyled" ng-repeat="device in vm.devices">
                            <a ng-href="#/device/{{device.id}}" ng-click="vm.devicesSidebar.isOpen = false" ng-if="device.type > 1 && device.type <= 5">{{device.name}}</a>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 translate="Groups" />
                    </div>
                    <div class="panel-body">
                        <div class="list-unstyled" ng-repeat="group in vm.groups">
                            <a ng-if="group.devices.length !== 0" ng-click="vm.devicesSidebar.isOpen = false" ng-href="#/group/{{group.id}}">{{group.name}}</a>
                        </div>
                    </div>
                </div>
            </md-sidenav>

            <div id="viewBody" class="container-responsive" ng-view=ng-view></div>
        </md-content>
    </div>

    <script src="lib/jquery/jquery.min.js" type="text/javascript"></script>
    <script src="lib/angular/angular.min.js" type="text/javascript"></script>
    <script src="lib/angular-route/angular-route.min.js" type="text/javascript"></script>
    <script src="lib/angular-bootstrap/ui-bootstrap-tpls.min.js" type="text/javascript"></script>
    <script src="lib/angular-cookies/angular-cookies.min.js" type="text/javascript"></script>
    <script src="lib/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="lib/angular-messages/angular-messages.min.js" type="text/javascript"></script>
    <script src="lib/angular-resource/angular-resource.min.js" type="text/javascript"></script>
    <script src="lib/angularutils-pagination/dirPagination.js" type="text/javascript"></script>
    <script src="lib/angular-translate/angular-translate.min.js" type="text/javascript"></script>
    <script src="lib/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js" type="text/javascript"></script>
    <script src="lib/moment/min/moment-with-locales.min.js" type="text/javascript"></script>
    <script src="lib/downloadjs/download.min.js" type="text/javascript"></script>
    <script src="lib/angular-animate/angular-animate.min.js" type="text/javascript"></script>
    <script src="lib/angular-aria/angular-aria.min.js" type="text/javascript"></script>
    <script src="lib/angular-material/angular-material.js" type="text/javascript"></script>
    <script src="lib/chart.js/Chart.min.js" type="text/javascript"></script>
    <script src="lib/angular-chart.js/angular-chart.min.js" type="text/javascript"></script>
    <script src="lib/angular-treasure-overlay-spinner/treasure-overlay-spinner.min.js" type="text/javascript"></script>
    <script src="lib/requirejs/require.js" data-main="app/main" type="text/javascript"></script>

</body>
</html>