<div class="panel panel-primary">
    <div class="panel-heading">
        <h5 class="panel-title" translate="CPU"></h5>
    </div>
    <div class="panel-body smallersize">
        <treasure-overlay-spinner active="vm.machine && vm.machine.loading[vm.EMachineParts.CPU]">
            <h3 ng-show="vm.machine.cpu === null || vm.machine.cpu.current === null" translate="There are no CPU reports"></h3>
            <div ng-show="vm.machine.cpu !== null && vm.machine.cpu.current !== null">
                <!-- <h3 translate="Current CPU Usage"></h3> -->
                <dl class="dl-horizontal">
                    <dt translate="Last Update"></dt>
                    <dd>{{vm.machine.cpu.current.timestamp | commonDate}}</dd>
                    <dt translate="Current Usage"></dt>
                    <dd>{{vm.machine.cpu.current.percent | number:1}} %</dd>
                    <dt translate="Peak Usage"></dt>
                    <dd>{{vm.machine.cpu.peak.percent | number:1}} % {{"at" | translate}} {{vm.machine.cpu.peak.timestamp | commonDate}}</dd>
                </dl>

                <div ng-if="vm.machine.cpu.cpuData && vm.machine.cpu.cpuData.length !== 0">
                    <h5 translate="CPU Usage Over Time"></h5>
                    <cm-graph data="vm.machine.cpu" settings="vm.chartSettings.cpu" class="col-md-12 col-sm-12 col-xs-12"></cm-graph>
                </div>
            </div>
            <button class="btn btn-default" ng-click="vm.getMoreCPU()">{{"Retrieve" | translate}} {{vm.daysToRetrieve}} {{"More Days" | translate}}</button>
        </treasure-overlay-spinner>
    </div>
</div>
