<div class="panel panel-danger">
    <div class="panel-heading">
        <h1 class="panel-title" translate="Alerts" />
    </div>
    <div class="panel-body">
        <h3 ng-show="vm.deviceManager.hasAlarms === false" translate="There are no current alerts"></h3>
        <div ng-repeat="device in ::vm.devices track by device.id">
            <div class="list-group" ng-if="device.alarms.length !== 0">
                <a ng-if="device.type === 0" class="list-group-item" ng-href="#/server/{{::device.id}}">
                    <cm-overview-device-alert device="device" />
                </a>
                <a ng-if="device.type === 1" class="list-group-item" ng-href="#/workstation/{{::device.id}}">
                    <cm-overview-device-alert device="device" />
                </a>
                <a ng-if="device.type > 1 && device.type <= 5" class="list-group-item" ng-href="#/device/{{::device.id}}">
                    <cm-overview-device-alert device="device" />
                </a>
            </div>
        </div>
        <div ng-repeat="group in ::vm.groups track by group.id">
            <div ng-repeat="device in ::group.devices track by device.id">
                <div class="list-group" ng-if="device.alarms.length !== 0">
                    <a ng-if="device.type === 0" class="list-group-item" ng-href="#/server/{{::device.id}}">
                        <cm-overview-device-alert device="device" />
                    </a>
                    <a ng-if="device.type === 1" class="list-group-item" ng-href="#/workstation/{{::device.id}}">
                        <cm-overview-device-alert device="device" />
                    </a>
                    <a ng-if="device.type > 1 && device.type <= 5" class="list-group-item" ng-href="#/device/{{::device.id}}">
                        <cm-overview-device-alert device="device" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>